@import "compass/reset";
@import "compass/css3";
@import "skeleton";

html{

  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  color: #FFF6CF;

  line-height: 1.75;
  height: 100%;

  font-family: 'Merriweather', serif;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

}

body{
  // padding-top: 170px;
  height: 100%;

}

.page{
  padding: 40px 0px;
  background: #fff;
  color: #666;
  p{
    text-align: justify;
  }
  h2{
    font-size: 1.8em;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2em;
    color: #3E2952;
    cursor: pointer;
  }
}

.leader{
  // position: absolute;
  // height: 100%;
  padding: 50px 0px;
  display: table;
  width: 100%;
  .inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

h1{
  display: none;
}

h2{
  color: #A27EA4;
  letter-spacing: 2px;
  font-weight: bold;
}
h3{
  letter-spacing: 2px;
  margin-bottom: 40px;
}

a{
  color: #FFF6CF;
  &:hover{
    text-decoration: none;
  }
}

.row,p{
  margin-bottom: 20px;
}



header{
  text-align: center;

}


hr{
  background: none;
  border: 0px;
  border-top: solid 1px #A27EA4;
  width: 80%;
}

footer{
  padding: 50px 0px;
  background: #1E1228;
  a{
    color: #fff;
  }
}

.btn{
  display: inline-block;
  background: #3F2952;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 4px;
  &:hover{
    text-decoration: underline;
  }
}

.buttons{
  padding-bottom: 20px;
  text-align: center;
  word-spacing: 3px;
  li{
    display: inline-block;
    a{
      display: block;
      font-size: 1.2em;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      color: #3C154C;
      background: #fff;
      .fa{
        line-height: 40px;
      }
    }
  }
}
