@charset "UTF-8";
/* line 5, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 31, ../scss/_skeleton.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 38, ../scss/_skeleton.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  /* line 46, ../scss/_skeleton.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  /* line 53, ../scss/_skeleton.scss */
  .container {
    width: 80%;
  }

  /* line 55, ../scss/_skeleton.scss */
  .column,
  .columns {
    margin-left: 4%;
  }

  /* line 58, ../scss/_skeleton.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 62, ../scss/_skeleton.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 64, ../scss/_skeleton.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 65, ../scss/_skeleton.scss */
  .three.columns {
    width: 22%;
  }

  /* line 66, ../scss/_skeleton.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 67, ../scss/_skeleton.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 68, ../scss/_skeleton.scss */
  .six.columns {
    width: 48%;
  }

  /* line 69, ../scss/_skeleton.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 70, ../scss/_skeleton.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 71, ../scss/_skeleton.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 72, ../scss/_skeleton.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 73, ../scss/_skeleton.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 74, ../scss/_skeleton.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 76, ../scss/_skeleton.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 77, ../scss/_skeleton.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 79, ../scss/_skeleton.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 82, ../scss/_skeleton.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 84, ../scss/_skeleton.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 86, ../scss/_skeleton.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 88, ../scss/_skeleton.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 90, ../scss/_skeleton.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 92, ../scss/_skeleton.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 94, ../scss/_skeleton.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 96, ../scss/_skeleton.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 98, ../scss/_skeleton.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 100, ../scss/_skeleton.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 102, ../scss/_skeleton.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 105, ../scss/_skeleton.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 107, ../scss/_skeleton.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 110, ../scss/_skeleton.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* Typography
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 153, ../scss/_skeleton.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 175, ../scss/_skeleton.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

/* line 188, ../scss/_skeleton.scss */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

/* line 196, ../scss/_skeleton.scss */
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 213, ../scss/_skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
/* line 230, ../scss/_skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 241, ../scss/_skeleton.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 245, ../scss/_skeleton.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

/* line 256, ../scss/_skeleton.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 261, ../scss/_skeleton.scss */
fieldset {
  padding: 0;
  border-width: 0;
}

/* line 264, ../scss/_skeleton.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* line 267, ../scss/_skeleton.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 286, ../scss/_skeleton.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 289, ../scss/_skeleton.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 292, ../scss/_skeleton.scss */
.u-pull-right {
  float: right;
}

/* line 294, ../scss/_skeleton.scss */
.u-pull-left {
  float: left;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
/* line 304, ../scss/_skeleton.scss */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* line 5, ../scss/styles.scss */
html {
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  color: #FFF6CF;
  line-height: 1.75;
  height: 100%;
  font-family: 'Merriweather', serif;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 29, ../scss/styles.scss */
body {
  height: 100%;
}

/* line 35, ../scss/styles.scss */
.page {
  padding: 40px 0px;
  background: #fff;
  color: #666;
}
/* line 39, ../scss/styles.scss */
.page p {
  text-align: justify;
}
/* line 42, ../scss/styles.scss */
.page h2 {
  font-size: 1.8em;
  color: #666;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
/* line 49, ../scss/styles.scss */
.page .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;
  color: #3E2952;
  cursor: pointer;
}

/* line 59, ../scss/styles.scss */
.leader {
  padding: 50px 0px;
  display: table;
  width: 100%;
}
/* line 65, ../scss/styles.scss */
.leader .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 69, ../scss/styles.scss */
.leader .inner img {
  max-width: 100%;
  height: auto;
}

/* line 76, ../scss/styles.scss */
h1 {
  display: none;
}

/* line 80, ../scss/styles.scss */
h2 {
  color: #A27EA4;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 85, ../scss/styles.scss */
h3 {
  letter-spacing: 2px;
  margin-bottom: 40px;
}

/* line 90, ../scss/styles.scss */
a {
  color: #FFF6CF;
}
/* line 92, ../scss/styles.scss */
a:hover {
  text-decoration: none;
}

/* line 97, ../scss/styles.scss */
.row, p {
  margin-bottom: 20px;
}

/* line 103, ../scss/styles.scss */
header {
  text-align: center;
}

/* line 109, ../scss/styles.scss */
hr {
  background: none;
  border: 0px;
  border-top: solid 1px #A27EA4;
  width: 80%;
  margin-bottom: 40px;
}

/* line 117, ../scss/styles.scss */
footer {
  padding: 50px 0px;
  background: #1E1228;
}
/* line 120, ../scss/styles.scss */
footer a {
  color: #fff;
}

/* line 125, ../scss/styles.scss */
.btn {
  display: inline-block;
  background: #3F2952;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 4px;
}
/* line 131, ../scss/styles.scss */
.btn:hover {
  text-decoration: underline;
}

/* line 136, ../scss/styles.scss */
.buttons {
  padding-bottom: 20px;
  text-align: center;
  word-spacing: 3px;
}
/* line 140, ../scss/styles.scss */
.buttons li {
  display: inline-block;
}
/* line 142, ../scss/styles.scss */
.buttons li a {
  display: block;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #3C154C;
  background: #fff;
}
/* line 150, ../scss/styles.scss */
.buttons li a .fa {
  line-height: 40px;
}
